.hero {
  height: 530px;
  background: url(../img/bg-header.png) center center/cover no-repeat,
/*
  &:after {
    background-color: #000;
    opacity: 0.75;
  }*/
}
.title {
  color: #fff;
  font-size: remy(60px);
  font-weight: 700;
}
