.hero {
  height: 530px;
  position: relative;
  background: url(../img/bg-header.png) center center/cover no-repeat,
}
.cover {
  background-color: rgba(0,0,0,.75);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.hero-content {
  z-index: 10;
}

