.project {
  overflow: hidden;
}
.ipad {
  position: relative;

  img {
    position: absolute;
    left: 35%;
    bottom: 0;
  }

  @media(max-width: 992px) {
    display: none;
  }
}
.project-text {
  margin-top: 10px;
  margin-bottom: 28px;
}
.project-block {
  margin-bottom: 20px;
  padding-left: 15px;

  @media(max-width: 992px) {
    padding-right: 15px;
  }
}
.project-icon {
  margin-right: 20px;
  margin-bottom: 20px;
}
.project-link {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  text-decoration: none !important;

  i {
    margin-left: 7px;
  }

  &:hover {
    color: $title-color !important;
  }
}
