/*
.project {
  background: url(../img/ipad.png) 150% 110% no-repeat;
}
*/
.ipad {
  position: relative;

  img {
    position: absolute;
    left: 35%;
    bottom: -30%;
  }
}
.project-text {
  margin-top: 10px;
  margin-bottom: 28px;
}
