.relax {
  height: 615px;
}
.bg-icon {
  width: 30%;
  height: 100%;
  background-color: #e9e9e9;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 190px;
    top: 0;
    right: 0;
    background: url(../img/gear-2.png) left center no-repeat;
  }

  @media (max-width: 992px) {
    display: none;
  }
}
.bg-photo {
  width: 70%;
  height: 100%;
  background: url(../img/bg-relax.jpg) left top/cover no-repeat;
  position: relative;

  @media (max-width: 992px) {
    width: 100%;
  }
}
.white {
  color: #fff;
}
.green {
  color: $nav-link-hover;
}
.relax-description {
  margin: 45px 0 25px 0;
}
.relax-text {
  font-family: 'Roboto Slab', serif;
  font-size: remy(16px);
  font-weight: 400;
  color: #ccc;
  letter-spacing: -0.4px;
}
.relax-list {
  padding: 0;
}
.relax-item {
  list-style: none;
  position: relative;
  margin-bottom: 25px;
}
