.title-section {
  font-family: $font-family-sans-serif;
  font-size: remy(40px);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -2px;
  color: $title-color;
  padding-top: remy(100px);
}
